.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  box-sizing: border-box;
  width: 440px;
  padding: 32px;
  border-radius: 6px;

  background: #fff;
}

.sign-in-form__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sign-in-form__error {
  min-height: 21px;
  margin: 0;

  font-size: 14px;
  line-height: 1.5;
  color: #dc2626;
}
