.input-field {
  display: flex;
  gap: 8px;
  align-items: center;

  height: 38px;
  padding: 0 11px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;

  box-shadow: 0 0 0 0 rgb(5 145 255 / 0%);

  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-field:focus-within {
  border-color: #1677FF;
  box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
}

.input-field__icon {
  width: 16px;
  height: 16px;
}

.input-field__input {
  width: 100%;
  border: none;

  font-family: "SF Pro Text", sans-serif;
  font-size: 16px;
  font-weight: 400;

  background: transparent;
}

.input-field__input::placeholder {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
    color: rgb(0 0 0 / 25%);
}

.input-field__input:focus {
  outline: none;
}
