.two-factor__header {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  min-height: 44px;
}

.two-factor__back {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;

  display: inline-flex;
  align-items: center;

  padding: 8px;
  border: none;

  background: none;
}
