.submit-button {
  cursor: pointer;

  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 40px;
  padding: 0 15px;
  border: 1px solid transparent;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1;

  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

.submit-button_primary {
  color: #fff;
  background: #1677ff;
  box-shadow: 0 2px 0 0 rgb(5 145 255 / 10%);
}

.submit-button_primary:not(:disabled):hover {
  background: #0065f3;
  box-shadow: 0 2px 0 0 rgb(5 145 255 / 20%);
}

.submit-button_primary:not(:disabled):focus-visible {
  outline: 1px solid #1677ff;
  outline-offset: 1px;
}

.submit-button_success {
  color: #fff;
  background: #52c41a;
  box-shadow: 0 2px 0 0 rgb(82 196 26 / 20%);
}

.submit-button_success:not(:disabled):hover {
  background: #3cb011;
  box-shadow: 0 2px 0 0 rgb(82 196 26 / 30%);
}

.submit-button_success:not(:disabled):focus-visible {
  outline: 1px solid #52c41a;
  outline-offset: 1px;
}

.submit-button:disabled {
  cursor: not-allowed;

  border-color: #d9d9d9;

  color: rgb(0 0 0 / 25%);

  background: rgb(0 0 0 / 4%);
  box-shadow: none;
}
